<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.UserMapper">

    <insert id="registerBuyers" parameterType="com.demo.model.bo.RegisterUserBo">
        insert into customer values (default,#{name},#{password},#{phone},#{address})
    </insert>

    <insert id="registerSellers" parameterType="com.demo.model.bo.RegisterUserBo">
        insert into business values (default,#{name},#{password},#{phone},#{address}, null, null)
    </insert>

    <select id="customerLogin" resultType="com.demo.model.bo.CustomerBo" parameterType="com.demo.model.bo.LoginUserBo">

    </select>

    <select id="businessLogin" resultType="com.demo.model.bo.BusinessBo" parameterType="com.demo.model.bo.LoginUserBo">

    </select>

</mapper>
