<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.ProviderMapper">

    <select id="findUserByLikeName" resultMap="result" parameterType="java.lang.String">
        select * from users
        <where>
            <if test="name != null and name != ''">
                user_name like '%${name}%'
            </if>
        </where>
    </select>

    <resultMap id="result" type="com.demo.model.Users">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_pwd" property="userPwd"/>
        <result column="user_class" property="userClass"/>
        <result column="user_age" property="userAge"/>
        <result column="user_score" property="userScore"/>
    </resultMap>

</mapper>
